* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body {
    margin: 1rem;
    /* height: 50rem; */
    padding: 0;
}

h1 {
    margin: 0;
    font-family: "Kode Mono", monospace;
}

h2 {
    margin: 0;
    font-family: "Kode Mono", monospace;
    font-style: italic;
    font-size: medium;
}

body {
    margin: 1rem;
    padding: 0;
    background-color: aliceblue;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    /* temp styling */
    padding: 5px;
    border: 1px solid yellow;
    width: 29em;
}

.board-row {
    clear: both;
    /* content: ''; */
    display: table;
}

.square {
    /* padding: 0.5rem; */
    background: transparent;
    border: 1px solid blue;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 4rem;
    height: 4rem;
}
.token-red, .token-black{
    font-family: "Kode Mono";
    margin: -4.8rem -1rem ;
    padding: 0 ;
    font-size: 7rem;
    -webkit-text-stroke-width: 0.25rem ;
}

.token-red {
    color: red;
    -webkit-text-stroke-color: darkred;
}

.token-black {
    color: blue;
    -webkit-text-stroke-color: darkblue;
}